*{
  box-sizing: border-box;
}
body{
  margin:0;
  padding:0;
  font-family: 'Raleway', sans-serif;

}
.header{
  height: 260px;
  padding: 20px;
  text-align: center;
  background: radial-gradient(#525252,#131313);
  font-size:30px;
  font-weight:25px;

}
.foot{
  height: 140px;
  background: radial-gradient(#525252,#131313);
  text-align: center;
  font-size: 20px;
  font-weight: 10px;
  color:rgb(201, 194, 192);
}
.foot footer{
  padding:10px;
}
.row{
  display: flex;
  flex-wrap: wrap;
}
.column{
  flex:25%;
}
.column img{
  width:100%;
  padding:4px;
  vertical-align: middle;

}
@media(max-width:1200px){
  .column{
    flex:33.33%;
  }
}

@media(max-width:950px){
  h1,p{
    font-size:28px;
    font-weight:20px;
    text-align: center;
  }
  .header{
    height: 180px;
    padding: 15px;
  }
  .column{
    flex:50%;
  }
  .foot{
    height:100px;
    font-size: 15px;
    font-weight:9px;
  }
}
@media(max-width:600px){
  h1,p{
    font-size:20px;
    font-weight:15px;
    text-align: center;
  }
  .header{
    height: 120px;
    padding: 15px;
  }
  .column{
    flex:100%;
  }
  .foot{
    height:80px;
    font-size: 12px;
    font-weight:8px;
  }
}
